<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rock Paper Scissors
        link(rel="shortcut icon", href="#", type="image/x-icon")
        link(rel="stylesheet", href="css/styles.css")
    body
        #modal-start.modal.modal--show
            #modal-start-content.modal__content
                form#form-start-game.start-game
                    div.start-game__block
                        label(for="input-username" class="start-game__topic") Write your nickname
                        input(type="text", id="input-username" placeholder="John" class="start-game__input-text")
                    #select-game-type
                        p.start-game__topic Select the game
                        input(type="button", value="Classic" class="button")
                        input(type="button", value="+ Lizard and Spock" class="button active")
                    #select-game-round
                        p.start-game__topic Select the number of rounds
                        input(type="button", value="1" class="button__square")
                        input(type="button", value="3" class="button__square active")
                        input(type="button", value="5" class="button__square")
                        input(type="button", value="7" class="button__square")
                    div.start-game__topic
                        //input(type="button", value="Instructions cambiar nombre" class="button")
                    input(type="submit", id="go", value="GO" class="button--XL active")                    
        main
            #computer-user.player
                div
                    img(src="images/spock.jpg")#computer-choice-img.player__choice-img
                div.player__info
                    p#computer-player-username.player__username Computer
                    p#computer-player-result.player__result 0
            #info-game.info-game
                p#info-round.info-game__paragraph Round 1
                p#round-winner.info-game__paragraph
                button#start-game.button--L.active PLAY
            #user-player.player
                div
                    img(src="images/rock.svg", data-value="rock")#user-choice-img.player__choice-img
                    div
                        #move-choice.player__move-choice
                            ul#move-choice-list.player__move-choice-list
                                li: img(src="/images/rock.svg", alt="rock" class="player__icons" data-value="rock")
                                li: img(src="/images/paper.svg", alt="paper" class="player__icons" data-value="paper")
                                li: img(src="/images/scissors.svg", alt="scissors" class="player__icons" data-value="scissors")
                                li: img(src="/images/lizard.svg", alt="lizard" class="player__icons" id="lizard" data-value="lizard")
                                li: img(src="/images/spock.svg", alt="spock" class="player__icons" id="spock" data-value="spock")
                div.player__info
                    p#user-player-username.player__username
                    p#user-player-result.player__result 0
                    p#timer.player__timer
                    button#settings.button.active Settings
        
        #modal-result.modal
            #modal-result-content.modal__content
        script(src="js/scripts.js")
