*,
*::before, 
*::after {
    font-family: Helvetica, sans-serif;  
    box-sizing: border-box;     
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $first;    
}

main{    
    width: 100%;
    max-width: 500px;       
}

ul{
    list-style: none;
    padding-left: 0;
}