.player{    
    width: 100%;
    max-width: 500px;   
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px 0;
    border: 6px dashed $third;
    
    &__choice-img{
        width: 170px;
        height: 170px;

        @media (min-width: 768px) {
            width: 220px;
            height: 220px;
        } 
    }

    &__move-choice{       
        height: 30px;
    }

    &__move-choice-list{
        display: flex;            
        justify-content: center;
        cursor: pointer;        
    }
    
    &__icons{
        width: 30px;
        height: 30px;
        margin: 0 2px;
        @media (min-width: 768px) {
            width: 40px;
            height: 40px;
        }  
    }

    &__timer{               
        text-align: center;
        font-size: 1.5em;
        color: $red;   
    } 

    &__info{
        width: 100px;        
        text-align: center;        
    }

    &__username{       
        color: $second;
        font-weight: bold;
        font-size: 1.5em;
    }

    &__result{
        color: $green;
        font-weight: bold;
        font-size: 1.5em;
    }
}

.advanced-game-hide{
    display: none;
}

.start-game{
    width: 100%;
    margin-top: 50px;    
    text-align: center;    

    &__block{
        display: flex;
        flex-direction: column;        
    }
    &__input-text{
        margin: 5px auto;
        height: 30px;
        width: 150px;
        border-radius: 4px;
        text-align: center;
    }
    &__topic{
        margin: 30px 0 0 0 ;
        font-size: 20px;
    }
}

.info-game{
    width: 100%;
    max-width: 500px;
    height: 120px;  
    color: $first;
    background-color: $third;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 6px dashed $first;
    font-weight: bold;

    &__paragraph{
        margin: 5px;
        height: 30px;
        width: 100%;
        text-transform: uppercase;       
    }
}

.log{    
    text-align: center;

    &__winner{
        font-size: 2em;        
    }

    &__round{
        color: $third;
        padding: 10px;
        font-weight: bold;
        border: 5px dashed $third;
        background-color: $first;
    }

    &__img{
        width: 20px;
        height: 20px;
    }
}